{{#bs-navbar class='navbar navbar-default' homeRoute='todos'}}
  {{!-- This nested link to allows the active state to work on your menu items --}}
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Todo Application</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'todos' tagName='li'}}
          {{link-to 'All Todos' 'todos'}}
        {{/link-to}}
        {{#link-to 'new' tagName='li'}}
          {{link-to 'New Todo' 'new'}}
        {{/link-to}}
    </ul>
    </div>
  </div>
{{/bs-navbar}}
<div class="container">
	{{outlet}}
</div>